<div class="row well">
    <div class="col-md-12 panel input-group">
        <input type="text" name="players" class="form-control p_input">
        <span class="input-group-btn">
            <button class="btn btn-info addPlayer" type="button">Add</button>
        </span>
        <span class="input-group-btn">
            <button class="btn btn-info
            add_exist"  data-toggle="modal" data-target="#adde_modal">Add Existing
            </button>
        </span>
    </div>
</div>
<app-player-list></app-player-list>
<div class="col-md-12">
    <div class="col-md-4"></div>
    <button class="btn btn-info status col-md-4">Start</button>
    <div class="col-md-4"></div>
</div>
